{% extends 'layout.html' %}

{% block main %}


  <div class="container content-section col-md-5 mt-3">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <legend class="border-bottom mb-4">Login</legend>

      <div class="form-group">
        {{ form.email.label }}

        {% if form.email.errors %}

          {{ form.email(class="form-control mb-2 is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>

        {% else %}

        {{ form.email(class="form-control mb-2", placeholder="johndoe@xyz.com") }}

        {% endif %}

      </div>

      <div class="form-group">
        {{ form.password.label }}

        {% if form.password.errors %}

          {{ form.password(class="form-control mb-2 is-invalid") }}

          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>

        {% else %}

          {{ form.password(class="form-control mb-2") }}

      {% endif %}

      </div>

      <div class="form-check">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
      </div>

      <div class="form-group mt-1">
        {{ form.submit(class="btn btn-block btn-outline-primary") }}
      </div>

    </form>
  </div>

  <div class="container content-section col-md-5 mt-3 border-top pt-3">
    <small class="text-muted">
      Need an account..? <a class="ml-2" href="{{ url_for('signup') }}">Sign Up</a>
    </small>
  </div>


{% endblock main %}
